/* Eric Meyer's Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
    max-width: 100%; /* Elements can never be bigger than their parents, prevents horizontal scroll */
    padding: 0;
    margin: 0;
    border: 1px solid grey;
}

/* General Styles */

html {
    font-size: 62.5%; /* Default browser font-size is 16px, this makes it so that 1 rem === 10px (easier math) It also gives the user control over bumping up or down the font size, because % is a scalable unit of measurement */
}
body {
    font-size: 1.8rem; /* Sets font size back to 18px */
    line-height: 1.5;
    color: #4f4f4f;
    background: #fbfffb;
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: #266035;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
    color: #266035;
    text-align: center;
}
h1 {
    color: #fbfffb;
    font-size: 5rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2.5rem;
}
button {
    background: #266035;
    padding: 3% 4%;
    font-size: 1.8rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fbfffb;
}
section {
    padding: 4% 0;
}

/* Header Section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, .8);
}
.logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 70%;
}
.links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

/* Top Section */

#top {
    height: 90vh;
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#top button {
    background: #fbfffb;
    border: 2px solid #266035;
    color: #266035;
    margin-top: 5%;
    transition: .2s;
}
#top button:hover {
    color: #fbfffb;
    background: #266035;
}

/* About Section */
#about {
    height: 80vh;
    background-image: url('../images/about-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#about .text {
    width: 25%;
    margin-right: 10%;
}

/* Shop Section */

.container {
    display: flex;
    flex-wrap: wrap;
}
.shoptxt, .bgimg {
    width: 50%;
}
.shoptxt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6% 4%;
    text-align: center;
}
.shoptxt div {
    width: 65%;
}
.shoptxt div button {
    margin-top: 5%;
}
.bgimg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.succulents {
    background-image: url('../images/succulants.jpg');
}
.cacti {
    background-image: url('../images/cacti.jpg');
}
.tropicals {
    background-image: url('../images/tropicals.jpg');
}

/* Footer Section */

#contact {
    display: flex;
    flex-wrap: wrap;
    color: #fbfffb;
    background: #266035;
}
#contact a, #contact h3 {
    color: #fff;
    text-align: left;
}
#contact h2 {
    width: 100%;
    color: #fff;
}
.left, .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left div, .right img {
    width: 60%;
}
.bottom {
    width: 100%;
    text-align: right;
    margin-right: 10%;
}

/* Responsive */
/* 
max-width scales down - Desktop First
min-width scales up - Mobile First
*/

@media (max-width: 800px) {
    
}

@media (max-width: 500px) {
    nav {
        flex-direction: column;
    }
    .links {
        width: 80%;
    }
    #about {
        background-image: none;
        background-color: #e0e1e3;
        justify-content: center;
        height: auto;
    }
    #about .text {
        margin: 0;
        width: 80%;
    }
    
    /* Shop Section */

    .container {
        justify-content: center;
    }
    .bgimg {
        height: 60vh;
    }
    .shoptxt, .bgimg {
        width: 90%;
    }
    .one  {
        order: 0;
    }
    .two {
        order: 1;
    }
    .three {
        order: 2;
    }
    .four {
        order: 3;
    }
    .five {
        order: 4;
    }
    .six {
        order: 6;
    }
}